<form [formGroup]="userform" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Name</label>
      <input
        name="text"
        pInputText
        formControlName="name"
        placeholder="name"
      />
      <div
      *ngIf="
        userform.controls['name'].invalid &&
        (userform.controls['name'].touched || userform.controls['name'].dirty)
      "
    >
      <span *ngIf="userform.controls['name'].errors?.['required']"
        >Name is Required</span
      >
      <span *ngIf="userform.controls['name'].errors?.['maxlength']"
        >Maximum length Exced</span
      >
      <span *ngIf="userform.controls['name'].errors?.['pattern']"
        >Invalid Name</span
      >
    </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        name="text"
        pInputText
        placeholder="Enter email"
        formControlName="email"
      />
      <div
      *ngIf="
        userform.controls['email'].invalid &&
        (userform.controls['email'].touched ||
          userform.controls['email'].dirty)
      "
    >
      <span *ngIf="userform.controls['email'].errors?.['required']"
        >Email is Required</span
      >
      <span *ngIf="userform.controls['email'].errors?.['pattern']"
        >Invalid Email</span
      >
    </div>
    </div>
 
  <!-- form arrray -->
    <ng-container formArrayName="addressdetials">
      <button type="button" (click)="addAddress()">+ Add Address</button>
      <div [formGroupName]="i" *ngFor="let a of addressdetials.controls; let i = index">
        <div *ngIf="i < 5">
          <div>
            <label>City</label>
            <input id="city" type="text" formControlName="city">
            
            <div *ngIf="isCityInvalid(i)">City is required.
            
            </div>
          </div>
          <div>
            <label>State</label>
            <input id="state" type="text" formControlName="state">
            <div *ngIf="isStateInvalid(i)">State is required.</div>
          </div>
          <button type="button" (click)="remove(i)">Remove</button>
        </div>
      </div>
    </ng-container>


    <button>submit</button>
    
  </form>
  <!-- <p>Sum of Amounts: {{ calculateSum() }}</p> -->
  {{ userform.value | json}}
  
    
  